/* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=1976D2 */

body {
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    
}


/*HEADER*/
.header {
    padding: 0 45px;
    background-color: #004A9F;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}

.nav a:hover {
    color: #c5cae9;
    transform: rotate(6deg)
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-left: 20px;
}

/*HERO*/
.hero {
    background-color: #1875D1 ;
    color: #fff;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
}

.hero-inner {
    
    max-width: 760px;
}

.hero h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: 0;
}

.hero p {
    font-size: 1.50rem;
    line-height: 1.6;
}

.button {
    background-color: #004A9F;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.75rem;
    display: inline-block;
    transition: transform .2s;
}

.button:hover {
    transform: scale(1.2); 
}

.hero-image {

    border-radius: 15px;
}

.features {
    background-color: #e8eaf6;
    padding: 60px 45px;
}

.features-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}

.featured-item h3 {
    color: #283593;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}

.featured-item p {
    margin: 0;
    line-height: 1.6;
    color: #333;
}

.content {
    background-color: #e8eaf6;
    padding: 60px 45px;
}

.content-inner {
    max-width: 1200px;
    margin: 0 auto;
}

.content-inner h1 {
    text-align: center;
    padding-bottom: 100px;
}

.content-inner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    
}

#feature-scroll {
    scroll-behavior: smooth;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: #999;
    font-size: .9rem;
}

